/* Fonts */

@font-face {
    font-family: "Museo";
    src: url("fonts/MuseoSans_500-webfont.eot");
    src: url("fonts/MuseoSans_500-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/MuseoSans_500-webfont.woff2") format("woff2"),
         url("fonts/MuseoSans_500-webfont.woff") format("woff"),
         url("fonts/MuseoSans_500-webfont.ttf") format("truetype"),
         url("fonts/MuseoSans_500-webfont.svg#museo_sans500") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Base Elements */

* {
    font-family: 'Roboto', 'Noto', sans-serif;
}

body {
    background-color: #002147 !important;
}

h1, h2, h3, h4, h5 {
    font-family: Museo, Arial, sans-serif;
}

img {
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

a {
    text-decoration: none !important;
    color: rgb(34, 34, 34);
    transition: color 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

a:active,
a:focus,
a:visited {
    color: rgb(34, 34, 34);
}

a:hover {
    color: #c06c20 !important;
}

/* base-app.html */

#mainContainer {
    overflow: hidden !important;
}

.buttonHover {
    font-weight: normal !important;
    color: #fff !important;
    background-color: #4184f3;
    /* From: http://matthewlein.com/ceaser/ */
    transition: background-color 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000) !important;
}

.buttonHover:hover {
    font-weight: normal !important;
    color: #fff !important;
    background-color: #c10c06 !important;
}

paper-material {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 25px auto;
    color: #212121;
    background-color: #fff;
}

paper-toolbar {
    background: #002147 !important;
}

.toolbarTitle {
    font-size: 20px !important;
    text-transform: uppercase;
    background: ;
}

.iron-overlay-backdrop-0 {
    opacity: 0.75;
}

#welcomeModal {
    margin: 0;
    opacity: 1.0;
}

#welcomeModalBase {
    height: auto;
    width: 600px;
    margin: 0;
    padding: 0;
    border: 1px solid #002147 !important;
    opacity: 1.0;
}

#welcomeModalTitle {
    border-bottom: 1px solid #aaa !important;
}

#welcomeModalTitle h1 {
    margin: 25px 0;
}

#welcomeModalContent {
    padding: 30px 30px 35px 30px;
}

#welcomeModalContent p {
    font-family: Roboto, Noto, sans-serif;
}

.spacer {
    padding-bottom: 20px;
}

.message {
    border: 1px solid #ccc;
}

.centered {
    width: 100%;
    text-align: center;
    color: #212121;
}

#mainPanel {
    border-left: 1px solid #ccc;
}

#entryWrapper paper-material {
    margin-bottom: 0px !important;
    border-bottom: 1px solid #ccc !important;
}

#entryMessage {
    padding: 6px !important;
}

#logSession {
    margin-top: 0px !important;
    padding-bottom: 8px;
}

#enterSets,
#enterReps {
    display: inline-block;
    width: 6%;
}

#enterWeight {
    display: inline-block;
    width: 8%;
}

#enterSets {
    margin: 0 4% 0 4%;
}

#enterReps,
#enterWeight {
    margin: 0 4% 0 0;
}

#enterNotes {
    display: inline-block;
    width: 52%;
}

#saveSession {
    position: absolute;
    top: 12px;
    right: 3%;
    width: 56px;
    height: 56px;
}
  
.main-panel {
    background-color: #eee;
    height: 100vh;
    overflow-y: hidden;
}

#left {
    position: absolute;
    top: 14px;
    right: 10px;
}

#menu {
    padding: 0;
}

#menuButtonWrapper {
    margin-top: 25px;
}

.menuButton {
    width: 96%;
    margin-bottom: 15px;
}

#editMenuButton {
    margin-left: -25px !important;
}

.editMenuButton {
    width: 200px;
}

.editExercises {
    margin-bottom: 0;
}

.editExerciseModal {
    position: fixed;
    box-sizing: border-box;
    top: 40px;
    height: auto;
    background: #eee;
}

#createExerciseModal {  
    left: 278px;
    width: 320px;
}

#updateExerciseModal {
    left: 491px;
}

#deleteExerciseModal {
    left: 703px;
}

.editExerciseWrapper {
    width: 320px;
    margin: 0 !important;
    padding: 0;
    border-bottom: 1px solid #ccc;
    background: #eee;
}

#updateExerciseModal .editExerciseWrapper {
    width: 535px;
}

.editExerciseWrapper .internal {
    width: 320px;
    padding: 0;
    margin-top: 1px !important;
    border-top: 1px solid #ccc;
    background: #fff;
}

#updateExerciseModal .editExerciseWrapper .internal {
    width: 535px;
}

.exerciseTitle {
    height: 60px;
    line-height: 65px; 
    font-family: Museo, Arial, sans-serif;
    font-size: 24px;
    text-transform: uppercase !important;
    background: #fff;
}

.editExerciseContent {
    box-sizing: border-box;
    padding: 0 20px !important;
}

.editExerciseInput {
    width: 205px;
    margin-right: 20px;
}

.editExerciseClose {
    width: 100%;
    padding-right: 20px;
    text-align: right;
}

.textClose {
    cursor: pointer;
    /* From: http://matthewlein.com/ceaser/ */
    transition: color 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000) !important;
}

.textClose:hover {
    color: #4184f3 !important;
}

/* SVG Layout */

#graphWrapper {
    position: relative;
    width: 1150px;
    margin: 0 auto;
}

#resetGraph {
    position: absolute;
    top: 520px;
    right: 15px;
}

.boldJustified {
    font-weight: bold;
    width: 65px;
    float: left;
}

#tooltipSessionWrapper {
    box-sizing: border-box;
    width: 460px;
    margin: 0 !important;
    padding: 25px;
    border: 1px solid #000;
}

.tooltipSession {
    display: inline-block;
    width: 50px;
    margin-right: 15px;
}

.tooltipSessionDate {
    width: 157px;
}

.tooltipSessionWeight {
    width: 65px;
}

.tooltipSessionNotes {
    width: 100%;
}

#updateSession,
#deleteSession {
    position: absolute;
    height: 30px;
    width: 30px;
}

#updateSession {
    top: 10px;
    right: 10px;
}

#deleteSession {
    top: 50px;
    right: 10px;
}

#updateSession #icon,
#deleteSession #icon {
    height: 14px;
    width: 14px;
}

/* SVG Internals */

.axis path,
.axis line {
    fill: none !important; 
    stroke: rgb(0, 0, 0) !important; 
    stroke-width: 1.0 !important;
    shape-rendering: crispEdges !important;
}

.axis text {
    font-size: 11px !important;
    stroke-width: 0 !important;
    shape-rendering: crispEdges !important;
}

.domain { 
    fill: none !important; 
    stroke: rgb(0, 0, 0) !important; 
    stroke-width: 1.0 !important; 
    shape-rendering: crispEdges !important;
} 

.dot {
    stroke: rgb(255, 255, 255)!important; 
    stroke-width: 0 !important; 
}

.legend text {
    font-size: 11px !important; 
}
