/* Fonts */

@font-face {
    font-family: "Halifax";
    src: url("fonts/hallig-webfont.eot");
    src: url("fonts/hallig-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/hallig-webfont.woff2") format("woff2"),
         url("fonts/hallig-webfont.woff") format("woff"),
         url("fonts/hallig-webfont.ttf") format("truetype"),
         url("fonts/hallig-webfont.svg#halifaxlight") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo";
    src: url("fonts/MuseoSans_500-webfont.eot");
    src: url("fonts/MuseoSans_500-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/MuseoSans_500-webfont.woff2") format("woff2"),
         url("fonts/MuseoSans_500-webfont.woff") format("woff"),
         url("fonts/MuseoSans_500-webfont.ttf") format("truetype"),
         url("fonts/MuseoSans_500-webfont.svg#museo_sans500") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Base Elements */

* {
    font-family: Halifax, Arial, sans-serif;
}

body {
    background-color: cornsilk;
}

h1, h2, h3, h4, h5 {
    font-family: Museo, Halifax, Arial, sans-serif;
}

img {
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

a {
    text-decoration: none !important;
    color: rgb(34, 34, 34);
    transition: color 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

a:active,
a:focus,
a:visited {
    color: rgb(34, 34, 34);
}

a:hover {
    color: #c06c20 !important;
}

/* base-app.html */

.iron-overlay-backdrop-0 {
    opacity: 0.75;
}

#welcomeModal {
    margin: 0;
    opacity: 1.0;
}

#welcomeModalContent {
    margin: 0;
    padding: 30px;
    width: 300px;
    height: 200px;
    opacity: 1.0;
}

#menu {
    padding: 0;
}

.message {
    border: 1px solid #ccc;
}

.menuButton {
    width: 96%;
    margin-top: 15px;
}

#mainPanel {
    border-left: 1px solid #ccc;
}

#logSession {
    padding-bottom: 8px;
}

#enterSets,
#enterReps {
    display: inline-block;
    width: 7%;
}

#enterSets {
    margin: 0 4% 0 4%;
}

#enterReps {
    margin: 0 4% 0 0;
}

#enterNotes {
    display: inline-block;
    width: 59%;
}

#saveSession {
    top: 12px;
    right: 4%;
    width: 56px;
    height: 56px;
}

    .list {
        padding: 0;
    }
    
    .list paper-item {
        min-height: 80px;
        border-bottom: 1px solid #dedede;
        background-color: #fafafa;
    }
    
    #todoEntry {
        margin: 0;
        width: 100%;
        max-width: none;
        border-bottom: 1px solid #ccc;
    }
   
    
paper-material {
    position: relative;
    max-width: 960px;
    width: 95%;
    margin: 25px auto;
    color: #212121;
    background-color: #fff;
}
    
    #todos {
        overflow-y: scroll;
        height: 66vh;
    }
    
    #todos {
        overflow-y: scroll;
    }
  
    paper-fab {
        position: absolute;
        background: #00BCD4;
        bottom: 2vh;
        right: 2vw;
    }
    
    .main-panel {
        background-color: #eee;
        height: 100vh;
        overflow-y: hidden;
    }
    
    .task-empty paper-item {
        text-align: center;
        padding: 25px;
        color: #6f6f6f;
    }
    
    paper-toolbar {
        background:#D32F2F;
    }
    
/* base-element.html */

.todo {
        padding: 10px;
    }
    
    paper-checkbox {
        float: right;
        margin: 2vh 2vw;
    }
    
    paper-button {
        background: #ccc;
    }
    
    paper-fab {
        position: absolute;
        bottom: 3vh;
        right: 3vw;
        background: #4DD0E1;
    }
    
    .done {
        background: green;
    }
    
    .info {
        font-style: italic;
        font-size: 14px;
        color: #696969;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .info span {
        margin-left: 5px;
    }
