/* Fonts */

@font-face {
    font-family: "Museo";
    src: url("fonts/MuseoSans_500-webfont.eot");
    src: url("fonts/MuseoSans_500-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/MuseoSans_500-webfont.woff2") format("woff2"),
         url("fonts/MuseoSans_500-webfont.woff") format("woff"),
         url("fonts/MuseoSans_500-webfont.ttf") format("truetype"),
         url("fonts/MuseoSans_500-webfont.svg#museo_sans500") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Base Elements */

* {
    font-family: 'Roboto', 'Noto', sans-serif;
}

body {
    background-color: #c10c06;
}

h1, h2, h3, h4, h5 {
    font-family: Museo, Halifax, Arial, sans-serif;
}

img {
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

a {
    text-decoration: none !important;
    color: rgb(34, 34, 34);
    transition: color 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

a:active,
a:focus,
a:visited {
    color: rgb(34, 34, 34);
}

a:hover {
    color: #c06c20 !important;
}

.buttonHover {
    /* From: http://matthewlein.com/ceaser/ */
    transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000) !important;
}

.buttonHover:hover {
    background: #c10c06 !important;
}

/* base-app.html */

paper-material {
    position: relative;
    max-width: 960px;
    width: 95%;
    margin: 25px auto;
    color: #212121;
    background-color: #fff;
}

paper-toolbar {
    background: #d32f2f;
}

.toolbarTitle {
    font-size: 20px !important;
    text-transform: uppercase;
    background: ;
}

.iron-overlay-backdrop-0 {
    opacity: 0.75;
}

#welcomeModal {
    margin: 0;
    opacity: 1.0;
}

#welcomeModalContent {
    margin: 0;
    padding: 30px;
    width: 300px;
    height: 200px;
    opacity: 1.0;
}

.message {
    border: 1px solid #ccc;
}

.centered {
    width: 100%;
    text-align: center;
    color: #212121;
}

#left {
    position: absolute;
    top: 14px;
    right: 10px;
}

#menu {
    padding: 0;
}

.menuButton {
    width: 96%;
    margin-top: 15px;
}

#mainPanel {
    border-left: 1px solid #ccc;
}

#logSession {
    padding-bottom: 8px;
}

#enterSets,
#enterReps {
    display: inline-block;
    width: 7%;
}

#enterSets {
    margin: 0 4% 0 4%;
}

#enterReps {
    margin: 0 4% 0 0;
}

#enterNotes {
    display: inline-block;
    width: 60%;
}

#saveSession {
    position: absolute;
    top: 12px;
    right: 3%;
    width: 56px;
    height: 56px;
}
   
.main-panel {
    background-color: #eee;
    height: 100vh;
    overflow-y: hidden;
}

/* SVG */

#graphWrapper {
    position: relative;
    width: 650px;
    margin: 0 auto;
}

#resetGraph {
    position: absolute;
    top: 520px;
    right: 15px;
}

.boldJustified {
    font-weight: bold;
    width: 60px;
    float: left;
}

#deleteSession {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.axis path,
.axis line {
    fill: none !important; 
    stroke: rgb(0, 0, 0) !important; 
    stroke-width: 1.0 !important;
    shape-rendering: crispEdges !important;
}

.axis text {
    font-size: 11px !important;
    stroke-width: 0 !important;
    shape-rendering: crispEdges !important;
}

.domain { 
    fill: none !important; 
    stroke: rgb(0, 0, 0) !important; 
    stroke-width: 1.0 !important; 
    shape-rendering: crispEdges !important;
} 

.dot {
    stroke: rgb(255, 255, 255)!important; 
    stroke-width: 0 !important; 
}

.legend text {
    font-size: 11px !important; 
}
