/* Left Column */

#button-post {
    height: 40px;
    width: 100%;
    margin-bottom: 25px;
    padding: 0px 16px;
    line-height: 40px;
    font-family: Museo, Halifax, Arial, sans-serif;
    text-align: center;
    color: rgb(34, 34, 34);
    border: 1px solid rgb(34, 34, 34);
}

.h4-title {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}

#number-words-title {
    margin: 0px 0px 25px 0px;
}

#customize-title {
    margin: 35px 0px 15px 0px;
}

#spacers-title {
    margin: 35px 0px 15px 0px;
}

#case-title {
    margin: 20px 0px 15px 0px;
}

.checkbox-row {
    height: 24px;
    width: 100%;
    margin-bottom: 24px;
}

.checkbox-row-grouped {
    height: 24px;
    width: 100%;
    margin-bottom: 8px;
}

.checkbox-label {
    float: left;
    height: 24px;
    width: 90%;
    line-height: 24px;
}

.checkbox-box {
    float: right;
    height: 18px;
    width: 18px;
    margin: 3px 0px 0px 0px !important;
    cursor: pointer;
}

/* Right Column */

#right {
    padding-left: 50px;
}

ul.accordion {
    margin-left: 0px;
}

.accordion-navigation {
    border-bottom: 4px solid #fff;
}

.accordion-href {
    height: 40px !important;
    line-height: 40px !important;
    padding: 0px 16px !important;
}

.discussion {
    margin: 0px;
    color: rgb(34, 34, 34);
}

#pic {
    width: 350px;
    margin-top: 10px;
    margin-left: 90px;
}

#xkcd-button {
    display: block;
    height: 40px;
    padding: 0px 16px;
    line-height: 40px;
}

#xkcd-button:hover {
    color: rgb(34, 34, 34) !important;
    background-color: #ffec80 !important;
}

.xkcd-center {
    width: 105px;
    margin: 15px auto 0 auto;
}

/* Modified from: http://zurb.com/building-blocks/image-hover-effects */

.image-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.image-overlay-content {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

.overlay-fade-in-new-background .button {
    position: relative;
    opacity: 0;
}

.overlay-fade-in-new-background .image-overlay-content {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.9333);
    transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
}
    
.overlay-fade-in-new-background p {
    opacity: 0;
    transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

.overlay-fade-in-new-background img {
    transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

.overlay-fade-in-new-background:hover img {
    -webkit-filter: grayscale(100%);
    transform: scale(1.5);
}

.overlay-fade-in-new-background:hover .image-overlay-content {
    opacity: 1.0;
}

.overlay-fade-in-new-background:hover  p, .overlay-fade-in-new-background .button {
    opacity: 1.0;
}

/* Modal */

.reveal-modal-bg {
    cursor: pointer;
}

.reveal-modal {
    top: 160px;
    padding: 36px 48px;
}

.password {
    margin: 12px 0px 16px 0px;
    text-align: center;
    word-wrap: break-word;
}

.lead {
    margin: 0;
}

a.close-reveal-modal {
    color: rgb(100, 100, 100) !important;
    transition: color 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

a.close-reveal-modal:visited {
    color: rgb(34, 34, 34) !important;
}

a.close-reveal-modal:hover {
    color: rgb(34, 34, 34) !important;
}