#row-content {
    padding-top: 40px !important;
}

#wrapper-input {
    width: 541px;
    margin: 0px auto;
}

#wrapper-slider {
    float: left;
    width: 258px;
    padding-top: 22px;
}

#number-paragraphs-title {
    margin-bottom: 25px;
}

#range-slider-paragraphs {
    
}

.button-post {
    float: left;
    width: 258px;
    margin-left: 25px;
    border: 1px solid rgb(34, 34, 34);
}

#wrapper-content {
    height: 582px;
    margin-top: 90px;
    border: 1px solid rgb(34, 34, 34);
}

#result {
    padding: 20px 20px 0px 20px;
}

#description {
    width: 700px;
    margin: 0px auto;
}

#description-title {
    margin-bottom: 30px;
    text-align: center;
    text-decoration: underline;
}

#description-content {
    text-align: left;
}

.description-content-paragraph {
    font-size: 18px;
}

.error {
    width: 615px;
    margin: 100px auto 0px auto;
    font-family: Museo, Halifax, Arial, sans-serif;
    font-size: 48px;
    color: #c06c20;
}