/* Left Column */

#button-post {
    height: 40px;
    width: 100%;
    margin-bottom: 25px;
    padding: 0px 16px;
    line-height: 40px;
    font-family: Museo, Halifax, Arial, sans-serif;
    text-align: center;
    color: rgb(34, 34, 34);
    border: 1px solid rgb(34, 34, 34);
}

.h4-title {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}

#number-users-title {
    margin: 0px 0px 25px 0px;
}

#customize-title {
    margin: 35px 0px 15px 0px;
}

.checkbox-row {
    height: 24px;
    width: 100%;
    margin-bottom: 24px;
}

.checkbox-row-grouped {
    height: 24px;
    width: 100%;
    margin-bottom: 8px;
}

.checkbox-label {
    float: left;
    height: 24px;
    width: 90%;
    line-height: 24px;
}

.checkbox-box {
    float: right;
    height: 18px;
    width: 18px;
    margin: 3px 0px 0px 0px !important;
    cursor: pointer;
}

/* Right Column */

#right {
    padding-left: 50px;
}

#content {
    height: 672px;
    border: 1px solid rgb(34, 34, 34);
}

#result {
    padding: 20px 20px 0px 20px;
}

#description {
    width: 500px;
    margin: 0px auto;
}

#description-title {
    margin-bottom: 30px;
    text-align: center;
    text-decoration: underline;
}

#description-content {
    text-align: left;
}

.description-content-paragraph {
    font-size: 18px;
}

.error {
    width: 323px;
    margin: 50px auto 0px auto;
    font-family: Museo, Halifax, Arial, sans-serif;
    font-size: 48px;
    color: #c06c20;
    text-align: center;
}

.error-user-title {
    margin: 103px auto 0px auto;
    width: 100%;
}

.error-user-message {
    width: 450px;
    margin: 0px auto 0px auto;
    font-family: Halifax, Arial, sans-serif;
    font-size: 18px;
    color: #c06c20;
    text-align: center;
}

.user-wrapper {
    display: inline-block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid rgb(34, 34, 34);
}

.user {
    width: 100%;
}

.user-label {
    float: left;
    width: 50%;
    font-family: Museo, Halifax, Arial, sans-serif;
}

.user-value {
    float: left;
    width: 50%;
}